# Emma and Michael's Dank Boio Modeling and Simulation in Python (Copyright Allen B. Downey) Project Number 3 in the Eleventh Month of the Two Thousand and Eighteenth Year

In [25]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim library
from modsim import *

In [30]:
x_0 = 362600000 # 362,600 km at perigee
v_0 = 1078.2 # 1078.2 m/s at perigee
Me_0 = 5.9722e24 # 5.9722×10^24 kg
Mm_0 = 7.342e22 # 7.342×10^22 kg

init = State(Me = Me_0, # Initial mass of earth
             Mm = Mm_0, #Initial mass of moon
             x=x_0, # 362,600 km at perigee
             y=0,
             vx=0,
             vy=v_0 # 1078.2 m/s at perigee
            )

Me    5.972200e+24
Mm    7.342000e+22
x     3.626000e+08
y     0.000000e+00
vx    0.000000e+00
vy    1.078200e+03
dtype: float64

In [32]:
def earth_radius(mass):
    density = 5514 # 5514 kg/m3 from NASA Earth Fact Sheet
    Re = (3*mass / (4*pi*density))**(1/3)
    return Re
def moon_radius(mass):
    density = 3344 # 3344 kg/m3 from NASA Moon Fact Sheet
    Rm = (3*mass / (4*pi*density))**(1/3)
    return Rm

system = System(init=init,
                dmdt = 100, #kg/day,
                r_e = earth_radius,
                r_m = moon_radius,
                G=6.674e-11, #N / kg**2 * m**2
                t_0=0,
                t_end=100*365)

init     Me    5.972200e+24
Mm    7.342000e+22
x     3....
dmdt                                                   100
r_e          <function earth_radius at 0x0000023EF1549840>
r_m           <function moon_radius at 0x0000023EF1549620>
G                                                6.674e-11
t_0                                                      0
t_end                                                36500
dtype: object

In [42]:
def net_force(state, system):
    """Computes gravitational force.
    
    state: State object with distance r
    system: System object with m1, m2, and G
    """
    Me,Mm,x,y,vx,vy = state
    unpack(system)
    
    #Gravitational Force
    r = sqrt(x**2 + y**2)
    v = sqrt(vx**2 + vy**2)
    force= G * Me * Mm / r**2
    direction = math.atan2(y,x) + pi 
    gravitational_force = Vector(force * math.cos(direction), force*math.sin(direction) )
    
    # Moon momentum contribution
    a = gravitational_force /Mm
    collision_force = Mm * a  - dmdt * -(Vector(vx,vy))
    
    return gravitational_force + collision_force

In [39]:
universal_gravitation(init, system)